- name: Setup Apache web server
  hosts: webservers
  become: yes

  tasks:
    - name: Install Apache (httpd) on RedHat/Amazon Linux
      yum:
        name: httpd
        state: present

    - name: Ensure Apache is running
      service:
        name: httpd
        state: started
        enabled: yes

    - name: Deploy index.html
      copy:
        src: index.html
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: '0644'
